.banner-jumbotron {
    background: var(--blue);
    background: url(/images/resources/services/Banner.png);
    border-radius: 0;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .banner-jumbotron h1 {
    font-weight: 700;
  }
  .banner-jumbotron p.main-slogan {
    font-weight: 300;
    font-size: initial;
    letter-spacing: 0.1rem;
  }
  
  @media (min-width: 576px) {
    .banner-jumbotron {
      height: 25rem;
      padding-bottom: 1rem;
    }
  }