.header-section {
    background: url(/images/resources/home-page/banner-image.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    min-height: 72rem;
  }
  >>>.home .header .navbar.navbar-light {
    background: transparent !important;
  }
  >>>.home .header .navbar.navbar-light .navbar-brand,
  >>>.home .navbar.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
  }
  >>>.home .header .router-link-active.router-link-exact-active:not(.btn) {
    border-bottom: 0.1rem solid #fff;
  }
  >>>.home .btn-outline-primary {
    color: #fff;
    border-color: #fff;
  }
  >>>.home .btn-primary {
    color: var(--blue);
    background-color: #fff;
    border-color: #fff;
  }
  .contact-container {
    padding: 1rem 1.5rem;
    padding-top: 0.8rem;
    border-radius: 1.25rem;
    position: relative;
    width: 100%;
    /* box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1); */
    z-index: 9999;
    margin-top: -2rem;
    /* background-color: #fafafa; */
    /* border-bottom: 0.3rem solid var(--cyan); */
  }
  
  .advantages-section {
    background: url(/images/resources/home-page/Advantages-background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    padding: 8rem 5rem;
  }
  
  .advantage-detail-section {
    background: #fff;
    padding: 4rem 3rem;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1);
  }
  
  .advantage-detail-head {
    display: flex;
    align-items: flex-end;
  }
  
  .advantage-detail-head .head-white-box {
    height: 5rem;
    width: 35%;
    background: white;
    margin-right: 1rem;
  }
  
  .order-now-heading {
    width: 70%;
    height: 100%;
    background: #fafafa;
    margin-left: auto;
    margin-right: auto;
  }
  .order-now-heading p {
    width: 50%;
    margin-bottom: 0;
    float: left;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1.8rem;
  }
  .order-now-heading .ip-heading {
    border: 0.1rem solid var(--blue);
    border-right: none;
    color: var(--blue);
    text-align: right;
  }
  .order-now-heading .heading-4g {
    color: var(--primary-text-color);
    text-align: left;
  }
  
  .secondary-heading {
    flex: 1;
    color: var(--blue);
    font-weight: 500;
    font-size: 1.4rem;
  }
  .text-muted-color {
    color: #a9a9a9;
    font-size: 1rem;
  }
  .text-muted {
    font-size: 12px;
  }
  .card-1 {
    margin-top: -6rem;
  }
  .card-2 {
    margin-top: -8rem;
  }
  .card-3 {
    margin-left: -2rem;
    margin-top: -6rem;
  }
  .card-4 {
    margin-top: -10rem;
    margin-left: -3rem;
  }
  
  .card-heading {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .card-feature-image {
    background: url("/images/resources/home-page/feature-background.png");
    height: 12rem;
    background-position: top;
    background-size: cover;
    text-align: center;
    transition: all 0.3s;
  }
  .card-feature-image .img-fluid {
    padding: 3rem 4.5rem;
  }
  .card-feature-image:hover {
    background: url("/images/resources/home-page/feature-hover.png");
    background-position: top;
    background-size: cover;
  }
  .card-description {
    font-size: 0.8rem;
    margin-left: -1rem;
    margin-right: -1rem;
    color: #a9a9a9;
  }
  .services-section .primary-heading {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .services-section .text-muted-color {
    font-size: 1.5rem;
  }
  .services-section .proxy-secondary-border {
    display: block;
    border-bottom: 2px solid var(--secondary-text-color);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .services-detail {
    margin-top: 8rem;
  }
  .service-name {
    display: flex;
    align-items: center;
    min-height: 50%;
  }
  .service-name .service-icon {
    max-width: 45px;
  }
  .service-name h3.service-heading {
    color: var(--blue);
    margin-left: 1rem;
  }
  .service-desc {
    font-size: 0.9rem;
  }
  
  .detail-text {
    font-size: 0.8rem;
    color: var(--primary-text-color);
  }
  .img-4g {
    margin-top: 3rem;
  }
  
  .primary-heading {
    color: var(--blue);
    font-weight: 800;
    font-size: 3rem;
  }
  .primary-heading .primary-advantage-small {
    font-size: 2rem;
    font-weight: 400;
    color: var(--seconday-color);
  }
  
  .customer-quotes-section .primary-heading {
    font-size: 2.5rem;
  }
  
  .forget-text a {
    border-left: 1px solid #a9a9a9;
  }
  
  .input-group {
    flex-direction: row-reverse;
  }
  .input-group input {
    border-left: none;
    padding: 1.5rem 0.75rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .input-group-text {
    background: transparent;
    color: var(--blue);
    font-size: 1.3rem;
  }
  .input-group-text i {
    border-right: 1px solid var(--blue);
    padding-right: 1rem;
  }
  input[type="checkbox"] {
    width: 0.8rem;
  }
  .btn-contact {
    border-bottom: 0.3rem solid var(--blue);
    padding: 0.75rem 0.95rem;
  }
  .form-control:focus {
    border-color: transparent;
    box-shadow: none;
    border: 2px solid var(--blue);
    border-left: none;
  }
  .form-control:focus + .input-group-prepend .input-group-text {
    border: 2px solid var(--blue);
    border-right: none;
  }
  @media (min-width: 768px) {
    .custom-offset-md-1 {
      margin-left: 13.333333%;
    }
  }
  @media only screen and (max-width: 768px) {
    .card-3 {
      margin-top: 1rem;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .card {
      margin-top: 1rem;
    }
  }