.contact-container {
    padding: 1rem 1.5rem;
    padding-top: 0.8rem;
    border-radius: 1.25rem;
    position: relative;
    width: 100%;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1);
    z-index: 9999;
    margin-top: -16rem;
    background-color: #fafafa;
    /* border-bottom: 0.3rem solid var(--cyan); */
}
.contact-container .card-body {
    padding-top: 0;
}
.secondary-heading {
    color: var(--blue);
    font-weight: 500;
}

.text-muted-color {
    color: #a9a9a9;
    font-size: 1rem;
}
.text-muted {
    font-size: 12px;
}

.card-heading {
    font-size: 1.2rem;
    font-weight: 600;
}

.card-description {
    font-size: 0.8rem;
    margin-left: -3rem;
    margin-right: -3rem;
    color: #a9a9a9;
}
.services-section {
    background: #fafafa;
}
.services-section .arrows {
    padding: 0;
    background: white;
}
.services-section .arrows .arrow {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
.services-section .arrow.arrow-left {
    color: var(--blue);
}
.services-section .arrow.arrow-right {
    background: var(--blue);
    color: white;
}
.services-detail {
    margin-top: 8rem;
}
.service-name {
    display: flex;
    align-items: center;
    min-height: 50%;
}
.service-name .service-icon {
    max-width: 45px;
}
.service-name h3.service-heading {
    color: var(--blue);
    margin-left: 1rem;
}
.service-desc {
    font-size: 0.9rem;
}

.detail-text {
    font-size: 0.8rem;
    color: var(--primary-text-color);
}
.img-4g {
    margin-top: 3rem;
}

.primary-heading {
    color: var(--blue);
    font-weight: 800;
    font-size: 3rem;
}

.customer-quotes-section .primary-heading {
    font-size: 2.5rem;
}

.forget-text a {
    border-left: 1px solid #a9a9a9;
}

.input-group {
    flex-direction: row-reverse;
}
.input-group input {
    border-left: none;
    padding: 1.5rem 0.75rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    background: transparent;
    color: var(--blue);
    font-size: 1.3rem;
}
.input-group-text i {
    border-right: 1px solid var(--blue);
    padding-right: 1rem;
}
input[type="checkbox"] {
    width: 0.8rem;
}
.btn-contact {
    border-bottom: 0.3rem solid var(--blue);
    padding: 0.75rem 0.95rem;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: none;
    border: 2px solid var(--blue);
    border-left: none;
}
@media (min-width: 768px) {
    .custom-offset-md-1 {
        margin-left: 13.333333%;
    }
}
@media only screen and (max-width: 768px) {
    .card-3 {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .card {
        margin-top: 1rem;
    }
}
